[submodule "site/plugins/autogit"]
	path = site/plugins/autogit
	url = https://github.com/pedroborges/kirby-autogit.git
[submodule "git-commit-and-push-content"]
	path = site/plugins/git-commit-and-push-content
	url = https://github.com/blankogmbh/kirby-git-commit-and-push-content.git
